<div class=" content">
  <div class=" row">
    <div class="col-lg-6 col-md-12">
      <div class=" card card-chart">
        <div class=" card-header">
          <div class=" row">
            <div class=" col-sm-6 text-left">
              <h5 class=" card-category">Account</h5>
              <h2 class=" card-title">My Wallet</h2>
            </div>
          </div>
        </div>
        <div class=" card-body">
          <div class=" row">
          <div class="col-8">

            <table class="table">
 
              <tbody>
                <tr>
                  <td>Wallet Id:</td>
                  <td>{{WalletId}}</td>
                </tr>
                <tr>
                  <td>Created At</td>
                  <td>{{CreatedAt}}</td>
                </tr>
                <tr>
                  <td>Owner Name</td>
                  <td>{{Owner}}</td>
                </tr>
                </tbody>
            </table>

          </div>
          <div class="col-4">
            <h1 class=" card-title">Blance</h1>
            <h1 class=" card-title">{{Blance}}</h1>
          </div>
          </div>
        </div>
      </div>
    </div>
    <div class=" col-lg-6 col-md-12">
      <div class=" card">
        <div class=" card-header">
          <h4 class=" card-title">Last Activities</h4>
        </div>
        <div class=" card-body">
          <div class=" table-responsive">
            <table class=" table tablesorter" id="">
              <thead class=" text-primary">
                <tr>
                  <th>Type</th>
                  <th>Description</th>
                  <th class=" text-center">Amount</th>
                </tr>
              </thead>
              <tbody>
                <tr>
                  <td>Trasaction/Send</td>
                  <td>-</td>
                  <td class=" text-center">140.50</td>
                </tr>
                <tr>
                  <td>Payment</td>
                  <td>-</td>
                  <td class=" text-center">28.90</td>
                </tr>
                <tr>
                  <td>Trasaction/Recive</td>
                  <td>-</td>
                  <td class=" text-center">400.00</td>
                </tr>
                <tr>
                  <td>Trasaction/Send</td>
                  <td>-</td>
                  <td class=" text-center">220.50</td>
                </tr>
                <tr>
                  <td>Trasaction/Send</td>
                  <td>-</td>
                  <td class=" text-center">140.00</td>
                </tr>
                <tr>
                  <td>Trasaction/Recive</td>
                  <td>-</td>
                  <td class=" text-center">300.00</td>
                </tr>
                <tr>
                  <td>Trasaction/Send</td>
                  <td>-</td>
                  <td class=" text-center">98.61</td>
                </tr>
              </tbody>
            </table>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>